* {
    margin: 0;
}

.hidden {
    display: none;
}

.sidebar.expanded {
    display: inline-block;
    left: 0px;
    top: 0;
    width: 250px;
    background-color: #409EFF;
    height: 100vh;
    border-radius: 8px;
    position: relative;
    transition: 0.75s;
    padding: 8px;
    box-shadow: 03px 4px 16px rgba(26, 27, 27, 0.4);
    overflow: auto;
}

.sidebar {
    width: 50px;
    /* 其他样式... */
    background-color: #409EFF;
    height: 100vh;
    border-radius: 8px;
    position: relative;
    padding: 8px;
    transition: 0.75s;
    box-shadow: 03px 4px 16px rgba(26, 27, 27, 0.4)
}

ul,
li {
    padding: 0;
    list-style: none;
}

.menu-item {
    height: 45px;
    font-size: 16px;
    color: #f2f6fc;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 0 15px;
    border-radius: 8px;
    cursor: pointer;
    border-width: 10px;
    transition: background-color 0.2s ease;
}

.menu-item i {
    font-size: 20px;
}

.menu-item:hover {
    background-color: hsl(211, 96%, 45%);
}

.menu-text.expanded {
    display: flex;
    margin-left: 8px;
}

.menu-text {
    display: none;
}

.disappear {
    display: none;
}

.toggle {
    position: absolute;
    width: calc(100% -8px);
    top: 5px;
    justify-content: center;
}

.arrow-rotate {
    transform: rotate(180deg);
}

.main-feature.expanded {
    position: absolute;
    top: 50px;
    width: 250px;
}

.main-feature {
    position: absolute;
    top: 50px;
    width: 50px;
}

.inline-arrow {
    position: absolute;
    left: 220px;
}

.inline-arrow.hidden {
    display: none;
}

.inline-arrow-rotate {
    transform: rotate(90deg);
}

.sub-menu-traffic.expanded {
    background-color: #f2f6fc;
    height: 150px;
    transition: 0.5s;
    border-radius: 8px;
    padding: 20px 35px;
    box-shadow: 03px 4px 16px rgba(26, 27, 27, 0.4);
    position: relative;
    display: flex;
}

.sub-menu-traffic {
    height: 0px;
}

.sub-menu-history.expanded {
    background-color: #f2f6fc;
    transition: 0.5s;
    border-radius: 8px;
    box-shadow: 03px 4px 16px rgba(26, 27, 27, 0.4);
    position: relative; 
     display: flex;
}

.sub-menu-history {
    height: 0px;
}

.sub-menu-location.expanded {
    background-color: #f2f6fc;
    height: 100px;
    transition: 0.5s;
    border-radius: 8px;
    box-shadow: 03px 4px 16px rgba(26, 27, 27, 0.4)
}

.sub-menu-location {
    height: 0px;
}

.input-style {
    margin: 5px 5px 5px 5px;
    height: 30px;
    width: 170px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 03px 2px 2px rgba(167, 171, 171, 0.4);
    border-radius: 4px;
    border-style: hidden;
    border: 1px solid #ccc;
}

.input-style:focus {
    border: 2px solid #409EFF;
    outline: none;
}

.button-style {
    width: 120px;
    height: 30px;
    padding: 0;
    margin: 10px 5px 5px 25px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 03px 2px 2px rgba(167, 171, 171, 0.4);
    border-style: hidden;
    border-radius: 8px;
    position: absolute;
    top: 140px;
    cursor: pointer;
}

.button-style:hover {
    background-color: #E4E7ED;
    cursor: pointer;
}

.map-style {
    margin-left: 70px'
}

.checkbox.expanded {
    display: flex;
    position: absolute;
    left: 190px;
    top: 12px;
    width: 60px;
    height: 30px;
    background: #409EFF;
    border-radius: 15px;
}

.checkbox {
    display: none;
}

.checkbox .inner {
    position: absolute;
    left: 6px;
    top: 6px;
    right: 6px;
    bottom: 6px;
    background: #C0C4CC;
    border-radius: 9px;
    cursor: pointer;
}

.checkbox .inner.on {
    background: #67C23A;
    transition: 0.5s;
}

.checkbox .inner .switch {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: -2px;
    left: -2px;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    transition: 0.5s;
    cursor: pointer;
}

.checkbox .inner.on .switch {
    left: 28px;
    transition: 0.5s;
    cursor: pointer;
}

.map-style.expanded {
    position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: calc(100% - 270px); 
	margin-left: 270px;
    transition: 0.75s;
}

.map-style {
    position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: calc(100% - 70px); 
	margin-left: 70px;
    transition: 0.75s;
}

.suggestion-box-start {
    display: none;
    position: absolute;
    top: 75px;
    left: 30px;
    width: 180px;
    height: 150px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-top: none;
    z-index: 1;
    box-shadow: 03px 2px 2px rgba(167, 171, 171, 0.4);
    border-radius: 8px;
    padding: 0px 5px 0px 5px;
}

.suggestion-box-end {
    display: none;
    position: absolute;
    top: 136px;
    left: 30px;
    width: 180px;
    height: 150px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-top: none;
    z-index: 1;
    box-shadow: 03px 2px 2px rgba(167, 171, 171, 0.4);
    border-radius: 8px;
    padding: 0px 5px 0px 5px;
}

.suggestion-text {
    position: relative;
    line-height: 30px;
    left: 5px;
    vertical-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.suggestion-text:hover {
    background-color: #EBEEF5;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 7.5px;
}
  
  /* 修改滚动条的滑块（thumb）样式 */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
  
  /* 修改滚动条的轨道（track）样式 */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.records-option {
    display: list-item;
    width: 205px;
    height: 40px;
    margin: 5px 10% 10px 10%;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 03px 2px 2px rgba(167, 171, 171, 0.4);
    border-style: hidden;
    border-radius: 8px;
}

.records-option:hover {
    background-color: #E4E7ED;
    cursor: pointer;
}

.records-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}